<header class="absolute top-2 md:top-6 w-full z-30">
    <div class="px-4 sm:px-6">
        <div class="max-w-3xl mx-auto">
            <div class="flex items-center justify-between h-14 border border-transparent [background:linear-gradient(var(--color-white),var(--color-white))_padding-box,linear-gradient(120deg,var(--color-zinc-300),var(--color-zinc-100),var(--color-zinc-300))_border-box] rounded-lg px-3">

                <!-- Site branding -->
                <div class="shrink-0 mr-4">
                    <!-- Logo -->
                    <a class="flex items-center justify-center bg-white w-10 h-8 rounded-sm shadow-xs shadow-zinc-950/20" href="index.html">
                        <img src="./images/logo.png" width="1563" height="369" alt="Logo" data-i18n-attr="alt:common.logoAlt">
                    </a>
                </div>

                <!-- Desktop navigation -->
                <nav class="flex grow">

                    <!-- Desktop sign in links -->
                    <ul class="flex grow justify-end flex-wrap items-center">
                        <!-- <li>
                            <a class="text-sm font-medium text-zinc-500 hover:text-zinc-900 px-3 lg:px-5 py-2 flex items-center transition" href="login.html" data-i18n="common.nav.login">Log in</a>
                        </li> -->
                        <li class="ml-1">
                            <a class="btn-sm text-zinc-100 bg-rayah-primary-600 hover:bg-rayah-primary-100 hover:text-white w-full shadow-sm" href="https://rayah-panel.borj.dev/login" data-i18n="common.nav.joinNow">Join Now</a>
                        </li>
                        <li class="ml-2">
                            <div class="flex items-center text-xs text-zinc-500">
                                <button type="button" class="px-1 py-1 hover:text-zinc-900 transition" data-lang-switch="en" aria-pressed="false">EN</button>
                                <span>/</span>
                                <button type="button" class="px-1 py-1 hover:text-zinc-900 transition" data-lang-switch="ar" aria-pressed="false">AR</button>
                            </div>
                        </li>
                    </ul>

                </nav>

            </div>
        </div>
    </div>
</header>
